# ===========================
# Python
# ===========================

# Arquivos compilados
__pycache__/
*.py[cod]
*$py.class

# Distribuição
build/
dist/
*.egg-info/

# ===========================
# Ambientes virtuais
# ===========================

.venv/
venv/
env/

# ===========================
# Variáveis de ambiente
# ===========================

.env

# ===========================
# Jupyter
# ===========================

.ipynb_checkpoints/

# ===========================
# IDEs
# ===========================

.vscode/
.idea/

# ===========================
# Sistema Operacional
# ===========================

.DS_Store
Thumbs.db

# ===========================
# Dados
# ===========================

data/creditcard.csv
